/* Always set the map height explicitly to define the size of the div
* element that contains the map. */

#map {
    bottom: 0px;
    height: 100%;
    left: 18%;
    position: absolute;
    right: 0px;
}

/* Optional: Makes the sample page fill the window. */

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

#pano {
    width: 300px;
    height: 300px;
}


@media screen and (min-width:869px) and (max-width:999px){
    #menu {
        background: #fff;
        line-height: 150%;
    }

    #filter-box {
        text-align: left;
        margin: 10px;
        width: 15%;
    }

    .locations {
        border: 1px solid #999;
        border-width: 100%;
        border-radius: 5px;
        position: fixed;
        text-align: left;
        width: 20%;
        margin: 5px;
        padding-left: 10px;
        font-size: 1em;
    }
}

@media screen and (min-width:1000px) {
    #menu {
        background: #fff;
        line-height: 250%;
    }

    #filter-box {
        text-align: left;
        margin: 10px;
        width: 17%;
    }

    .locations {
        border: 1px solid #999;
        border-width: 100%;
        border-radius: 5px;
        position: fixed;
        text-align: left;
        width: 17%;
        margin: 5px;
        padding-left: 10px;
    }
}
