html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

#pano {
    width: 200px;
    height: 200px;
}

@media screen and (max-width:869px){
    #map {
        bottom: 0px;
        height: 100%;
        left: 15%;
        position: absolute;
        right: 0px;
    }

    #menu {
        background: #fff;
        font-size: .75em;
    }

    #filter-box {
        text-align: left;
        margin: 10px;
        width: 14%;
    }

    .locations {
        border: 1px solid #999;
        border-width: 100%;
        border-radius: 5px;
        position: fixed;
        text-align: left;
        width: 14%;
        margin: 5px;
        padding-left: 10px;
        
    }
}

@media screen and (min-width:869px) and (max-width:1307px){
    #map {
        bottom: 0px;
        height: 100%;
        left: 15%;
        position: absolute;
        right: 0px;
    }

    #menu {
        background: #fff;
        font-size: .75em;
    }

    #filter-box {
        text-align: left;
        margin: 10px;
        width: 14%;
    }

    .locations {
        border: 1px solid #999;
        border-width: 100%;
        border-radius: 5px;
        position: fixed;
        text-align: left;
        width: 14%;
        margin: 5px;
        padding-left: 10px;
        
    }
}

@media screen and (min-width:1307px) {
    #map {
        bottom: 0px;
        height: 100%;
        left: 18%;
        position: absolute;
        right: 0px;
    }

    #menu {
        background: #fff;
        line-height: 250%;
    }

    #filter-box {
        text-align: left;
        margin: 10px;
        width: 17%;
    }

    .locations {
        border: 1px solid #999;
        border-width: 100%;
        border-radius: 5px;
        position: fixed;
        text-align: left;
        width: 17%;
        margin: 5px;
        padding-left: 10px;
    }
}
